/* Controles */

.carousel ul {
	display: table;
	margin: 0 auto;
	padding: 0;
}

.carousel li {
	display: inline-block;
	margin: 455px 5px 0 5px;
}

.carousel li label {
	display: block;
	text-indent: -99999px;
	width: 20px;
	height: 20px;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	position: relative;
}

input[type=radio]:checked + label {
	background: rgba(255,255,255, .50);
}

/* Imagens */

.carousel figure {
	width: 100%;
	height: 500px;
	-webkit-filter: grayscale(50%);
	background: #C00;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	/*animation: all 1s linear;*/
	margin: 0;
}

.carousel li:nth-child(1) figure {
	background-image: url("temp/7.jpg"); 
	background-size: cover; 
	background-position: center;
}

.carousel li:nth-child(2) figure {
	background-image: url("temp/11.jpg"); 
	background-size: cover; 
	background-position: center;
}

.carousel li:nth-child(3) figure {
	background-image: url("temp/12.jpg"); 
	background-size: cover; 
	background-position: center;
}

.carousel figure p{
	margin: 0 auto;
	text-align: center;
}

.carousel figure figcaption {
	color: #FFF;
	font-size: 26px;
	text-align: center;
	margin-top: 122px;
	background-color: black;
	width: 280px;
	margin-top: 250px; 
}

.carousel h1, .carousel p{
	color: white;
}

.carousel p{
	margin-top: -10px;
}

.carousel input[type=radio]:checked ~ figure {
	visibility: visible;
	opacity: 1;
}


/* Thumb */

.carousel li label .thumb {
	position: absolute;
	bottom: 100%;
	width: 50px;
	height: 50px;
	left: 50%;
	margin-left: -25px;
	border: 2px solid #FFF;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-filter: grayscale(50%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.carousel li label .thumb::before {
	content: " ";
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #FFF;
}

.carousel li:nth-child(1) .thumb {
	background-image: url("temp/7.jpg"); 
	background-size: cover; 
	background-position: center;
}

.carousel li:nth-child(2) .thumb {
	background-image: url("temp/11.jpg"); 
	background-size: cover; 
	background-position: center;
}

.carousel li:nth-child(3) .thumb {
	background-image: url("temp/12.jpg");
	background-size: cover; 
	background-position: center;
}

.carousel li label:hover .thumb {
	opacity: 1;
	visibility: visible;
	bottom: 160%;
}

