      /* 
      .carousel li:nth-child(1) .thumb {
        background-image: url("temp/2.jpg"); 
      }
      .carousel li:nth-child(2) .thumb {
        background-image: url("temp/3.jpg"); 
      }
      .carousel li:nth-child(3) .thumb {
        background-image: url("temp/10.jpg"); 
      }
      .carousel li:nth-child(1) figure {
        background-image: url("temp/2.jpg"); 
      }
      .carousel li:nth-child(2) figure {
        background-image: url("temp/3.jpg"); 
      }
      .carousel li:nth-child(3) figure {
        background-image: url("temp/10.jpg"); 
      }   

      h1.vertical{
        -webkit-transform: rotate(-90deg);
        float: right;
      }
      .eveve .calele {
          width: 0;
         padding-left: 0;
          overflow: hidden;
           transition-timing-function: ease;
      -moz-transition-timing-function: ease; 
      -webkit-transition-timing-function: ease;
      -o-transition-timing-function: ease; 
      transition-property:width;
      -moz-transition-property: width; 
      -webkit-transition-property:width; 
      -o-transition-property:width;
        transition-duration: 2s;
      -moz-transition-duration: 2s;
      -webkit-transition-duration: 2s; 
      -o-transition-duration: 2s; 
      }
      .eveve:hover .calele{
          width: 100%;   
          overflow:hidden;
      }
            */      
      .content-wrapper{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .eveve{
        width: 40%;
        display: block;
        margin-top: 5%; 
      }
      table.calendar{
        margin: 0 auto;
        padding: 20px auto;
        width: 100%;
      }
      .calendar td {
        padding: .6em;
      }
      .calele,{
        display: block;
        width: 100%;
        margin: 0 auto;
      }
      table.calendar{
        width: 30%;
        margin: 0 auto;
      }
      input[type="search"]{
        border: none;
      }
      header{
        border: none;
      }
      .content{
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        overflow: hidden;
      }
      .carousel li {
        margin: 500px 5px 0 5px;
      }
      .events ul{
        margin-left: 40px;
        width: 100%;
      }
      a.cal{
        color: black;
        display: block;
        margin: 10px 65px;
        text-align: center;
        padding: 10px;
        border: 1px solid #2062a2;
        border-radius: 3px;
        color: #2062a2;
      }
      a.cal:hover{
        background: #2062a2;
        color: white;
      }
      .calendar {
        display: block;
        margin: 0 auto;
      }

      .calendar thead {
        color: #2062a2;
        text-transform: uppercase;
      }

      .calendar td {
        padding: .6em;
        text-align: center;
        padding-left:-5px; 
      }

      .calendar tbody td:hover {
        background: #cacaca;
        color: #fff;
      }

      .calendar .prev-month {
        color: #cacaca;
      }

      .calendar .next-month {
        color: #cacaca;
      }

      .current-day {
        color: white;
        background: #2062a2;
      }
